.navi{
    position: absolute;
    margin-top: 10%;
    border-right: 1px solid;
    padding: 5px;
    height: 400px;
}

.body-part{
    position: absolute;
    left: 25%;
    width: 70%;
    padding: 20px;
}
