<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/additem.css') }}" />
    </head>
    <body>
        <header>
        </header>
        <main>
        <div class="navi">
            <a href="/add-items">Add Items</a><br><br>
            <a href="/remove-items">Remove Items</a><br><br>
            <a href="/show-orders">Customer Orders</a><br>
        </div>
        <div class="body-part">
        {% block main %}
        <p>select an action from the nav bar</p>
        {% endblock %}
        </div>
    </main>
    </body>
</html>
