<!DOCTYPE html>
<html>
<head>
	<title>Selah Market</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>
	<body>
		<header>
				{% block header %}
				{% endblock %}
		</header>
		<main>
			<div class="name">
				<li><a class="sup" href="/"><b>Home</b></a></li>
				<li><a class="sup" href="/login"><b>Login</b></a></li>
				<li><a class="sup" href="/sign-up"><b>Sign-up</b></a></li>
				<li><a class="sup" href="/about-us"><b>About us</b></a></li>
				<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Selah Market</h1><br><br>
				{% block main %}
				<h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Fresh Grocery</h2>
				{% endblock %}
			 </div>
		</main>
		<footer>
		</footer>
	</body>
</html>
