<!-- Store this code in 'login.html' file inside the 'templates' folder -->
{% extends "home.html" %}

	{% block main %}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="flash_message">
						{{ messages[0] }}
					</div>
				{% endif %}
				{% endwith %}
				<form method="post" action="/login" class="login">
					{{ form.hidden_tag() }}
					<p>{{ form.username.label }}</p>
					<p>{{ form.username(class_="text") }}</p>
					<p>{{ form.email.label }}</p>
					<p>{{ form.email(class_="text") }}</p>
					<p>{{ form.password.label }}</p>
					<p>{{ form.password(class_="text") }}</p>
					<p>{{ form.submit(class_="line") }}</p>
				</form>

			{% endblock %}

