<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}" />
		<title> Check-out </title>		
	</head>
	<body>
				<h1>Order form</h1>
				<form action="/order" method="post">
					<label for="phone_number">Enter phone number: </label><br><br>
					<input name="phone_number" type="text" placeholder="phone-number"/></br></br>
					<label for="address">Enter address:</label><br><br>
					<input name="address" type="text" placeholder="address"/></br></br>
					<button type="submit">Submit</button>
	</body>
</html>

